@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&display=swap');


@media screen and (max-width: 700px) {

    .eyeLogoClass {
        left: 85% !important;
    }

    .InformationFirst{
        top: -30px;
    }

    .InformationSecond {
        top: -75px;
    }

    .displayNone {
        display:none;
    }

    .kalimatbagian1 {
        font-size: 20px !important;
    }

    .isi1 {
        margin-top: 75px !important;
    }

    .isi3 {
        margin-top: 75px !important;
        margin-left: 5vw;
        margin-right: 5vw;
        align-items: left !important;
    }

    .chillLogoLobby {
        width: 120px !important;
        height: 30px !important;
    }

    .usercontent1 {
        flex-direction: column;
        justify-items: left;
    }

    .displayFlexLobby1 {
        height: 40% !important;
    }

    .imageSlider1{
        overflow: visible;
        overflow-x: scroll;
        overflow-y:hidden;
        scrollbar-width: none;
        height: 50vw !important;
    }  

    .imagesliderthing1 {
        width: 80vw !important;
    }

    .imageSlider2{
        overflow: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
    }     

    .allGenreClass {
        display: none;
      }

      .footerLast {
        flex-direction: column;
        gap: 20px;
        align-items:flex-start !important;
      }

      .genreList {
        flex-direction: column;
      }

      .usercontent1-1 {
        gap: 10px !important;
      }

      .popupMenuImage {
        top: 0px !important;
        left: 20px !important;
        width: 50vw !important;
        height: 40vw !important;
        display: none !important;
      }

      .imagePopupMenu {
        display: none !important;
      }
    

}

* {
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
}

label {
    margin-bottom: 7px;
}

button {
    outline: none !important;
    box-shadow: none !important;
  }
  button:focus, button:active {
    outline: none !important;
    box-shadow: 100px !important;
  }

.containerBody {
    background: url('./form-login/assets/background chill.jpeg') rgba(0, 0, 0, 0.3);
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'lato';
}

.containerLobbyBody {
    background-color: hsla(210, 8%, 10%, 1);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'lato';
    position: relative;
}

form {
    background-color: hsla(203, 12%, 13%, 0.84);
    padding: 40px;
    border: 2px solid hsla(203, 12%, 13%, 0.84);
    width: 75%;
    max-width: 400px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 500;
}


.chillLogo {
    width: 163px;
    height: auto;
    padding-bottom: 37px;
}

.displayFlex {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 37px;
}

.linkClass {
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid transparent;
}



.linkClass:active {
    all:unset;
}

.linkClass:visited {
    all:unset;
}

.linkClass:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
}

.submitClass {
    width: 100%;
    height: 40px;
    border-radius: 24px;
    border: 1px solid hsla(250, 81%, 94%, 0.23);
    background-color: hsla(192, 4%, 25%, 1);
    color: hsla(0, 0%, 100%, 1);
    font-size: 14px;
}

.submitClass:hover {
    background-color: rgb(161, 168, 170);
    cursor: pointer;
}

.submitClassGoogle {
    width: 100%;
    height: 40px;
    border-radius: 24px;
    background-color: transparent;
    color: hsla(0, 0%, 100%, 1);
    font-size: 14px;
    border: 1px solid hsla(250, 81%, 94%, 0.23);
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submitClassGoogle:hover {
    background-color: rgb(161, 168, 170);
    cursor: pointer;
}

.atauclass {
    margin: 8px;
}

.displayJustFlex {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.displayFlexBetween {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.displayFlexBetween1 {  
    flex: 0 0 auto;
}
.displayFlexBetween2 {
    align-items: flex-start;
    align-self: flex-end;
}
.displayFlexBetween3 {
    margin-left: auto;
}

.classRuleInput {
    align-items: left;
}

.classRuleInput > input {
    border: 1px solid hsla(250, 81%, 94%, 0.23);
    background-color: transparent;
    color: white;
    border-radius: 24px;
    height: 15px;
    padding: 15px;
}

.classRuleInput > input:hover {
    border: 1px solid hsla(249, 33%, 96%, 0.23);
}


.classRuleCenter {
    align-items: center;
}


.googleLogo {
    width: 18px;
    height: 18px;
}

.input-container {
    position: relative;
}

.eyeLogoClass {
    width: 20px;
    height: auto;
    position: absolute;
    left: 90%;
    top: 44px;
}

.eyeLogoClass:hover {
    cursor: pointer;
    width: 22px;
}

.eyeLogoClass1 {
    width: 20px;
    height: auto;
    position: absolute;
    left: 90%;
    top: 129px;
}

.eyeLogoClass1:hover {
    cursor: pointer;
    width: 22px;
}





.displayFlexLobby1 {
    margin: 20px;
    margin-right: 3vw;
    margin-left: 3vw;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    position: sticky;
    z-index: 20;
}

.usercontent1 {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.usercontent1-1 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.usercontent2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.chillLogoLobby {
    width: 120px;
    height: 40px;
}

.headerFont {
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.headerFont:hover {
    color: rgb(192, 183, 183);
}

.accountLogoLobby {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100%;
    /* border: 2px solid black; */
    object-fit: cover;
}

.containerFirst {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.firstImageBackground {
    position: relative;
    background: url('./lobby/assets/bagian awal asli.png');
    background-color: black;
    height:10vw;
    max-width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30vw;
    padding-left: 5vw;
    z-index: 0;
}

.InformationFirst {
    margin-bottom: 40px;
    position: relative;
}


.InformationSecond {
    display: flex;
    justify-content: space-between;
    width: 95%;
    position: relative;
}

.startButton {
    background-color: hsla(233, 81%, 32%, 1);
    color: white;
    width: 93px;
    height: 45px;
    border-radius: 48px;
    border: 0px solid transparent;
    cursor: pointer;
}

.startButton:hover {
    background-color: rgb(120, 130, 203);
}

.moreInfoButton {
    background-color: hsla(195, 11%, 15%, 1);
    color: white;
    width: 185px;
    height: 45px;
    border-radius: 48px;
    border: 0px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.moreInfoButton:hover {
    background-color: rgb(113, 131, 138);
}

.vectorClass {
    width: 20px;
    height: 20px;
}

.category18 {
    border: 1px solid hsla(220, 2%, 76%, 1);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 45px;
    cursor: help;
}

.category18:hover {
    background-color: rgb(64, 64, 74);
}

.categorypopup18 {
    opacity: 1 !important;
    
}

.myspanClass {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    width: auto;
    border: 1px solid white;
    padding: 10px;
    background-color: black;
    transform: translateY(0px);
    transform: translateX(10px);
}

.dropdownmenu {
    all: unset;
    position: relative;
    font-size: 30px;
    cursor: pointer;
}

.dropDownClass {
    all: unset;
    position: absolute;
    top:100px;
    list-style: none;
    display: flex;
    z-index: 9999;
    border: 1px solid transparent;
    background-color: hsla(210, 8%, 10%, 1);
    width: 150px;
    height: 120px;
    padding-left: 10px;
    transition: opacity 0.7s ease, transform 0.7s ease;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-50px);
}

.imageclass1 {
    width: 16px;
    height: 16px;
}

.activate {
    opacity: 1;
    pointer-events: auto;
}

.dropdownButton {
    all: unset;
}

.dropdownButton:hover {
    color: blue;
}

.dropdownli {
    cursor: pointer;
    padding: 7px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid black;
  }

  .audioClass {
    cursor: pointer;
  }


  .imageSlider1 {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
  }

  .imageSlider2 {
    display: flex;
    gap: 50px;
    align-items: center;
    position: relative;
  }

  .imageWrapper {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    position: relative;
  }


 

  .isi1 {
    margin-top: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 10vw;
    align-items: left;
    position: relative;
  }

  .isi2 {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .isi3 {
    margin-top: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 10vw;
    align-items: left;
    position: relative;
  }

  .isi4 {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .kalimatbagian1 {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    align-self: flex-start;
    /* transform: translate(-438px, -110px); */
  }

  .imagesliderthing {
    width: 20vw;
    height: 100%;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
  }

  .imagesliderthing1 {
    width: 16vw;
    height: 100%;
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
  }

  .imagesliderthing.active {
    opacity: 1;
  }

  .imagesliderthing1.active {
    opacity: 0.5;
  }

  .buttonclassImageSlider {
    all: unset;
    min-width: 44px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    display: flex;
  }

  .customclassButtonLeft {
    transform: translateX(-1vw);
  }

  .customclassButtonRight {
    transform: translateX(80.3vw);
  }

  .footerLast {
    padding: 5vw 5vw;
    margin-top: 60px;
    display: flex;
    width: 80%;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(38, 42, 44);
  }

  .genreList {
    display: flex;
    gap: 28px;
  }

  .genreList > div > li {
    list-style-type: none;
  }

  .genreList > div > li > button {
    all: unset;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }

  .genreList > div > li > button:hover {
    border-bottom: 1px solid hsla(220, 2%, 76%, 1);
  }
  
  .flexgap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: hsla(220, 2%, 76%, 1);
  }

  .GenreLabel {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .customFooter {
    color: hsla(220, 2%, 76%, 1);
  }

  .unset {
    all:unset;
  }

  .popupMenuImage {
    border: 1px solid transparent;
    padding-bottom: 1vw;
    background-color: hsla(210, 8%, 10%, 1);
    width: 30%;
    border-radius: 20px;
    visibility: hidden;
    position: absolute;
    top: 0px;
    transform: translateX(-20px);
    z-index: 999;
    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;
  }

  .popupMenuVisible {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
  }

  .imagePopupMenu {
    width: 100%;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
  }
  
  .PopupMenuFlex {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    align-items: center;
  }

  .genreStyle {
    font-size: 1vw;
  }

  .PopupMenuFlexCustom {
    display: flex;
    gap: 1vw;
    padding: 1vw;
  }

  .playClass {
    width: 3.5vw;
    cursor: pointer;
  }

  .checkButtonClass {
    all: unset;
    border: 1px solid hsla(225, 2%, 62%, 1);
    border-radius: 48px;
    width: 3.5vw;
    height: 3.5vw;
    text-align: center;
    cursor: pointer;
  }

  .checkButtonClass:hover {
    background-color: rgb(46, 50, 53);
  }

  .centeringClass {
    display: flex;
    gap: 1.5vw;
    height: auto;
  }

  .exitbuttonClass {
    all:unset;
    color: white;
    background-color: hsla(210, 8%, 10%, 1);
    font-size: 2vw;
    position: absolute;
    border: 1px solid hsla(225, 2%, 62%, 1);
    border-radius: 48px;
    width: 3.5vw;
    height: 3.5vw;
    text-align: center;
    transform: translate(-4.5vw, 1vw);
    cursor: pointer;
  }

  .ageClass {
    background-color: hsla(197, 100%, 90%, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vw;
    height: 1.5vw;
    font-size: 1vw;
    border-radius: 24px;
  }

  .episodeClass {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1vw;
    height: 1.5vw;
    border-radius: 24px;
  }